# OCI Pizza - Frontend Service Configuration

ENVIRONMENT=development
FRONTEND_REQUEST_TIMEOUT=2.0

PIZZA_SERVICE_URL=http://localhost:8001
PIZZA_IMAGE_BASE_URL=http://localhost:9000/pizza-images
ORDER_SERVICE_URL=http://localhost:8002
PAYMENT_SERVICE_URL=http://localhost:8003
AUTH_SERVICE_URL=http://localhost:8004
USER_SERVICE_URL=http://localhost:8005
NOTIFICATION_SERVICE_URL=http://localhost:8006
CHATBOT_SERVICE_URL=http://localhost:8007
