# Ambiente da aplicação
ENVIRONMENT=development
LOG_LEVEL=INFO

# Região OCI onde o serviço NoSQL está provisionado
OCI_REGION=sa-saopaulo-1

# OCI NoSQL Database
OCI_NOSQL_ENDPOINT=

# Pizza Service
OCI_NOSQL_PIZZAS_TABLE=pizzas
OCI_OBJECT_STORAGE_PIZZAS_BUCKET=pizza-images

# Auth Service
AUTH_SERVICE_URL=

# Namespace do Object Storage
OCI_OBJECT_STORAGE_NAMESPACE=