{% extends "__base.html" %}
{% block title %}Login{% endblock %}
{% block body_header %}        
    {% include "__top_menu.html" %}
{% endblock %}
{% block body %} 
    {% include "__flash_message.html" %}
    {% include "__form_error_messages.html" %}   
    <div class="container" id="app">  
        <br>
        <div class="row">
            <div class="col-sm-2 col-md-2"><p>&nbsp;</p></div>
            <div class="col-sm-8 col-md-8 d-flex justify-content-center">
                <div class="card w-100 rounded">
                    <div class="card-body rounded" style="border-top: 5px solid gray;">
                        <h5 class="card-title fw-bold fs-4 pb-3">Login</h5>
                        <form method="post" id="id_form" novalidate
                              action="{{ url_for('user.login_form_view') }}" class="needs-validation">
                            {{ form.hidden_tag() }}                            
                            <div class="mb-3"> 
                                {{ form.email(class_="form-control form-control-lg", placeholder="E-mail", id="id_form_email") }}                                                               
                                <div class="invalid-feedback">
                                    É necessário informar o e-mail.
                                </div>  
                            </div>  
                            <div class="mb-3">
                                {{ form.password(class_="form-control form-control-lg", placeholder="Senha", id="id_form_password") }}                                
                                <div class="invalid-feedback">
                                    É necessário informar a senha.
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-center pt-3">
                                    <div class="mb-3">                                           
                                        <button class="btn btn-success btn-lg fw-bold" 
                                                type="button" onclick="validateAndsubmitButton()"> 
                                            &nbsp;&nbsp;&nbsp;
                                            <i class="fa-solid fa-right-to-bracket"></i> &nbsp; Login
                                            &nbsp;&nbsp;&nbsp;
                                        </button>                                                             
                                    </div>               
                                </div>                                
                            </div> 
                            <div class="row">
                                <div class="col d-flex justify-content-center text-center pt-2">
                                    <p class="fst-italic fs-5">
                                        Não tem uma conta? 
                                        <a href="{{ url_for('user.add_user_form_view') }}">Cadastre aqui</a>
                                    </p>
                                </div>
                            </div>   
                            <div class="row">
                                <div class="col d-flex justify-content-center text-center">
                                    <p class="fst-italic fs-5">
                                        Esqueceu a sua senha? 
                                        <a href="{{ url_for('user.password_recovery_form_view') }}">Clique aqui</a>
                                    </p>
                                </div>
                            </div>                                              
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
{% block body_scripts %}    
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.blockUI.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>        
{% endblock %}