PERSISTENCE_PROVIDER=mysql

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=users
DATABASE_USERNAME=user
DATABASE_PASSWORD=secret

MESSAGING_PROVIDER=rabbitmq

MESSAGING_HOST=queue
MESSAGING_PORT=5672
MESSAGING_USERNAME=guest
MESSAGING_PASSWORD=guest