#
# .env.example
#

APP_NAME=user-service
APP_ENV=development
DEBUG=true

# Providers suportados: sqlalchemy, nosql.
PERSISTENCE_PROVIDER=sqlalchemy

# Utilizada pelo provider sqlalchemy.
DATABASE_URL=mysql+pymysql://user_service:user_service@127.0.0.1:13306/users

# Providers suportados: rabbitmq, oci_queue.
MESSAGING_PROVIDER=rabbitmq

# Configuração do provider rabbitmq.
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=oci_pizza
RABBITMQ_PASSWORD=oci_pizza
RABBITMQ_QUEUE_NAME=notifications

# Configuração do provider oci_queue.
# OCI_QUEUE_ID=
# OCI_QUEUE_MESSAGES_ENDPOINT=
# OCI_REGION=sa-saopaulo-1

# Providers suportados: local, oci.
JWT_KEY_PROVIDER=local
JWT_ISSUER=user-service
JWT_AUDIENCE=oci-pizza
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15

# Chaves utilizadas pelo provider JWT local.
JWT_PRIVATE_KEY_PATH=secrets/jwt_private_key.pem
JWT_PUBLIC_KEY_PATH=secrets/jwt_public_key.pem

# Secret utilizado pelo provider JWT oci.
# JWT_PRIVATE_KEY_SECRET_ID=

REFRESH_TOKEN_EXPIRATION_DAYS=30

# Logging
LOG_LEVEL=INFO
OCI_LOG_ID=
